.item {
  display: flex;
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
  align-items: flex-start; /* выравнивание по верхнему краю */
  max-width: 550px; /* чтобы ограничить ширину всей карточки */
  background-color: #fff; /* фон карточки */
  border-radius: 10px;
  height: 250px;
}

.item-image {
  flex: 0 0 auto; /* не растягивать, оставить размер картинки */
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  height: auto;
  object-fit: contain; /* чтобы изображение не искажалось */
  margin-right: 16px; /* отступ между картинкой и содержимым */
  border-radius: 10px;
}

.item-details {
  display: flex;
  flex-direction: column; /* все поля друг над другом */
  flex: 1; /* занимает оставшуюся ширину */
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px; /* чуть отступа между полями */
  height: 100%;
}

.field button,
.field svg {
  display: block;
  margin-bottom: 8px; /* отступ между элементами */
}
